@charset "utf-8";

/* For All Devices */

/* Overrides */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #666666;
}

h1 {
    font-family: "normal georgia", serif;
    font-size: 24px;
    font-weight:normal;
    color: #000000;
}

h2 {
    font-family: "normal georgia", serif;
    font-size: 18px;
    font-variant: small-caps;
    color: #6E9DCD;
}

h3, h4, h5 {
    color: #0099CC;
}

a {
    color: #5BBFF4;
}

a:visited {
    color: #6E9DCD;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

form {
    margin:0; 
    padding:0;
}

label {	
    display: block;	
    float: left; 
    text-align:right; 
    font-weight:bold; 
    width: 150px; 
    margin:3px; 
    padding: 5px;
}



/* Common */
.clear {
    clear: both;
}

.floatleft {
    float: left;
}
.floatright {
    float: right;
}

.button {
    display: block;
    float:left;
    padding:0px;
    background-color:#E3E6C8;
    margin:3px;
    border: 2px solid #333333;
    color:#000000;
}

.textfield {display: block; float:left; width:190px; background-color: #F3F4E8; margin:3px;	border: 1px solid #D6D9AE;}
.textfield:hover {background:#FBFCF8;}
.textfield:focus {background:#ffffff;}


.page {
    min-height: calc(100vh - 70px);
}

/* Header */

.header {
    background-color:#e5e5e5;
    text-align:center;
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 60px;
}
.header h1 {
    font-size: 36px;
}

.logo {
    display: block;
    float: left;
    margin-top: 30px;
}

/* Menu */

.menu {
    float:left;
    width:20%;
    text-align:center;
    margin-top:7px;
    background-color:#e5e5e5;
    border-radius: 10px;
}

.menu ul {
    width:100%;
}

.menu a {
    border-radius: 10px;
    padding:8px;
    margin:7px;
    display:block;
    color:black;
    text-decoration: none;
}

.menu .active {
    background-color:#f1f1f1;
    border-radius: 10px;
    border: 1px solid #999999;
}

.menu a:hover {
    background-color: #131313;
    color:white;
    border-radius: 10px;
}

/* Footer */

.footer {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #333333;
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    
    height: 60px;
    margin-top: 10px;
}
.footer a {
    color: black;
}

.footer a:visited, active {
    color: black;
}
.footer a:hover {
    color: #FFFFFF;
}

/* Main Body Stuff */

.main {
    float:left;
    width:60%;
    padding:0 20px;
    margin-top:7px;
    border-radius: 10px;
    padding-bottom:60px;
}

.main a {
    display: inline;
    padding: 3px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #FFFFCC;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.main table {
    width: 98%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main td {
    padding: 8px;
    border: 1px solid #CCCCCC;
}
.main th {
    padding: 8px;
    background-color: #585555;
    color: #FFFFFF;
}
.main ul {
    list-style-type: none;
}
.main li {
    display: block;
}
.main li {
    background-image: url(images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 1px 2px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.main ol {
    list-style-type: decimal;
    padding-left: 35px;
}

.main caption {
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Verdana;
    text-transform: uppercase;
    background-color: #F6F6F6;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #CCCCCC;
}

.main img {
    margin: 5px;
    background-color: #F0F0F0;
    border: 2px solid #999999;
    border-radius: 5px;
}

.main p {
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Side Bar Stuff */

.sidebar {
    background-color:#e5e5e5;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
    border-radius: 10px;
}

.sidebar img {
    padding: 5px;
    background-color: #333333;
    border: 1px solid #454545;
    width: 90%;
    float: left;
    margin: 5px;
    display: block;
    border-radius: 5px;
}


.sidebar h2 {
    display: block;
    margin-bottom: 10px;
}
.sidebar #latestposts {
    padding: 5px;
    list-style-type: none;
    margin-bottom: 15px;
}

.sidebar ul {
    width:100%;
}
.sidebar #latestposts a {
    border-radius: 10px;
    padding:3px;
    margin:3px;
    display:block;
    color:black;
    text-decoration: none;
}

.sidebar #latestposts a:hover {
    background-color: #666666;
    color:white;
    border-radius: 10px;
}


.sidebar #previews a:visited, active {
    text-decoration: none;
}
.sidebar #previews a:hover img {
    text-decoration: none;
    background-color: #666666;
    border: 1px solid #CCCCCC;
}




/* Medium devices (landscape tablets, 600px to 768px ) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .main{
        width:50%;
    }
    .sidebar {
        width:30%;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu, .main, .sidebar {
        width:100%;
        margin-top:0px;
    }
    body {
        font-size: 16px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}







