/* CSS Document */

body {
	font:12px Trebuchet MS, Tahoma, Arial;
	color:#17202A;
	background:#F8F9F9; 
	margin:0px;
	padding:0px;
	text-align:center;
}

.container {
	width:1024px;
	margin:0px auto;
	text-align:justify;
}

.banner {
	position:relative;
	float:left;
	width:1024px; 
	height:115px; 	 
}

.menuzone {
	height:40px;
	width:100%;
	display:inline; 
}
.mainmenu {
	text-align:right;
	padding:7px 10px 0px 0px;
}

.mainmenu ul {
	margin:0px;
	padding:0px;
}

.mainmenu li {
	display:inline;
	font-weight:bold;
	border-right:1px solid #17202A;
	padding:0px 10px 0px 10px;
}

.mainmenu li a{
	font:bold 13px Georgia, Arial, Helvetica, sans-serif;
	color:#17202A;
	text-transform:capitalize;
	text-decoration:none;
}

.mainmenu li a:hover {
	color:#17202A;
	text-decoration:none;
}

.columnzone {
	color:#17202A;
	width: 100%;
	height: 200px;
	float:left;
	margin:0px auto;
}

.columns {
	width: 25%;
	height: 100%;
	float:left;
}

.columnend {
	width:24%;
	float:left;
}

.columncontent {
	padding:14px 20px 20px 20px;
}

.workzone { 
	padding:35px 10px 10px 10px;
}


.workzone-left {
	width:473px;
	float:left;
}

.workzone-right {
	width:425px;
	float:right;
	padding:0px 24px 24px 24px;
}

.footer {
	text-align:right;
	color:#fefaca;
	padding:24px;
}


.clear {
	clear:both;
	margin:0px;
	padding:0px;
}


/*	Text Style Start Here */

h1 {
	font:24px Georgia, Arial, Helvetica, sans-serif;
	color:#17202A;
	padding:0px;
	margin:0px 0px 35px 0px;
}

.yellowtxt {
	color:#17202A;
}


/*	Text Style End Here */


/*	Link Styles Start Here	*/

a {
	color:#17202A;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}



.footer a{
	color:#17202A;
	text-decoration:underline;
}

.footer a:hover {
	text-decoration:none;
}
/*	Link Styles End Here	*/





/* Inside Style Start Here	*/

h5 {
	font:15px Myriad Pro, Arial, Helvetica, sans-serif;
	font-weight:100;
	padding:0px 0px 5px 0px;
	margin:0px 0px 10px 0px;
	clear: left;
}

.aboutus-img {
	width: 200px;
	float:right;
	border:4px solid #b0a48b;
	margin:0px 0px 10px 20px;
}
.project-img {
	float:left;
	display: block;
	width: 100px;
	border:4px solid #b0a48b;
	margin:10px;
clear:left;
}
.abouticon {
	float:left;
	margin:0px 20px 0px 0px;
}

.readmore {
	padding:10px 0px 10px 0px;
}

/* Inside Style End Here	*/
